files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01a_create_database_yml.sh":
    mode: "000777"
    content: |
      #!/bin/bash
      cd /var/app/ondeck/config
      echo "production:" >> database.yml
      echo "  adapter: postgresql" >> database.yml
      echo "  encoding: unicode" >> database.yml
      echo "  database: <%= ENV['RDS_DB_NAME'] %>" >> database.yml
      echo "  username: <%= ENV['RDS_USERNAME'] %>" >> database.yml
      echo "  password: <%= ENV['RDS_PASSWORD'] %>" >> database.yml
      echo "  host: <%= ENV['RDS_HOSTNAME'] %>" >> database.yml
      echo "  port: <%= ENV['RDS_PORT'] %>" >> database.yml
