svg viewbox=("0 0 1194 461") xmlns="http://www.w3.org/2000/svg" zoomandpan="disable" 
  path d=("M0 0h1194v461H0z") fill="none"
  path d=("M501.016 225.984l-.032-137-137 .032z") stroke="#000" stroke-width="0" vector-effect="non-scaling-stroke" 

