$zIndex1: 100;
$zIndex2: 200;
$zIndex3: 300;
$zIndex4: 400;
$zIndex5: 500;
$zIndex6: 600;
$zIndex7: 700;
$zIndex8: 800;
$zIndex9: 900;
$zIndex10: 1000;

$zIndexDev: 9000;

$zIndex-modal-overlay: $zIndex9;
$zIndex-modal-box: $zIndex10;
$zIndex-flash: $zIndex8;
$zIndex-dropdown: $zIndex5;
$zIndex-gameBadge: $zIndex4;
$zIndex-select: $zIndex4;
