:root .planBox-radio {
  position: absolute;
  opacity: 0;
}

.planBox {
  cursor: pointer;
  display: block;
  background: #fff;
  padding: 44px 20px 20px;
  border-radius: 10px;
  position: relative;
  margin-top: 80px;

  &.-highlighted,
  &.is-active {
    background: #161B32;


    .planBox-desc {
      color: #fff;
    }
  }
}

.planBox-title {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  margin: .5rem 0;
  color: #999;
  font-weight: bold;
}

.planBox-price {
  background: $brand-blue;
  color: $brand-yellow;
  font-weight: bold;
  font-size: 2.5rem;
  width: calc(100% + 40px);
  margin-left: -20px;
  text-align: center;
  padding: 8px 0;

  span {
    font-size: 1.4rem;
  }
}

.planBox-credits {
  background: $brand-yellow;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding-top: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  span {
    display: block;
    line-height: 0;
    margin-bottom: -4px;
    font-size: 1.5rem;

    .fa {
      font-size: 1.5rem;
    }
  }
}

.planBox-desc {
  text-align: center;
  padding: 10px 0;
  color: $brand-blue;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.3;

  span {
    font-size: 1.2rem;
  }
}

.paymentMethod {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }

  .radio {
    display: inline-block;
    width: 50%;
  }

  label {
    cursor: pointer;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid $brand-blue;
    border-radius: 4px;
    padding: 10px 0;
    display: block;
    width: 96%;
    text-align: center;

    &.is-active {
      background: $brand-blue;
      color: #fff;
    }
  }
}

.planForm-input {
  position: relative;

  &:before {
    position: absolute;
    font-family: 'FontAwesome';
    top:  50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: $brand-blue;
    width: 33px;
    text-align: center;
  }
  label {
    display: block;
  }

  input, select {
    width: 100%;
    border-color: #ccc;
    font-size: 1.1rem;

    &::placeholder {
      color: #ccc;
    }
  }
  input.-pays {
    padding: 10px 15px 10px 50px;
  }
  select {
    font-size: 0.96rem;
  }

  &.is-errored {
    input {
      background: $danger;
      color: #fff;
    }

    &:before {
      content: '\f071' !important;
      color: #fff;
    }
  }

  &.ico-cc {
    &:before {
      content: '\f09d';
    }

    input {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-right-width: 0;
      border-bottom-width: 0;
    }
  }

  &.ico-cvv {
    &:before {
      content: '\f084';
    }

    input {
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-width: 0;
    }
  }

  &.ico-name {
    &:before {
      content: '\f007';
    }

    input {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0;
    }
  }

  &.ico-year {
    &:before {
      content: '\f073';
    }

    input {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
