p Olá #{@resource.email} !
p Alguém requisitou o link para troca de senha. Você pode fazer isso através do link abaixo:
p = link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token)
p Se você não requisitou isso, por favor, ignore este email.
p Sua senha não será trocado até que você acesse o link acima e crie uma nova.
